.parcel-grid {
    display: grid;
    grid-row-gap: var(--space-x-big);
}

.parcel-item {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  padding: 10px;
  // background-color: #f8f9fa;
    background-color: white;

}
.box:nth-child(2) {
  box-sizing: border-box;
  text-align: start;
}

.grid-container > .box {
  background-color: #f8f9fa;
  padding: 20px 0;
  font-size: 30px;
}
.parcel-item .status-icon {
  font-size: var(--font-size-x-big);
  color: var(--color-blue);
  align-items: center;
  margin-top: var(--space-big);
  margin-left: var(--space-big);
}

.sender {
  font-size: var(--font-size-medium-big);
  font-weight: 500;
  margin-bottom: 0px;
}

.status {
  margin-top: var(--space-small);
  font-size: var(--font-size-medium);
}

// .order-concise {
//   display: grid;
//   grid-template-columns: var(--space-x-big) 1fr;
//   column-gap: var(--space-big);
//   justify-items: start;
//   align-items: center;
//   margin-bottom: var(--space-medium);
// }
